<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User page</title>
    <link rel="shortcut icon" type="image/png"
          href="https://avatars.mds.yandex.net/i?id=bc97ef2f6266bf31f3060082b2ab57cf-7000993-images-thumbs&n=13&exp=1">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .st1 {
            border-radius: 5px;
            margin-top: 2vh;
            height: 6vh;
            background-color: #658aea;
        }

        .st2 {
            height: 100vh;
            background-color: #f6f9f3;
        }

        .st3 {
            height: 6vh;
            background-color: #f6f9f3;
        }

    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-11 p-2 bg-dark text-white">
            <t class="font-weight-bold ml-2" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"/>
            <t class="font-weight-normal">with roles: USER</t>
        </div>
        <form class="col-1 p-2 bg-dark text-right" th:method="POST" th:action="@{/logout}">
            <button class="btn btn-dark text-white-50 btn-sm mr-1" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 st1 p-2 text-white"><p>User</div>
        <div class="col-10 st2">
            <p></p>
            <h1 style="margin-left: 20px">User information-page</h1>
            <h5 class="col-12 st3 p-2 mb-0 border border-bottom-0 ml-1">About user</h5>
            <div class="border col-12 bg-white ml-1">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.getId()}">ID</td>
                    <td th:text="${user.getFirstName()}">NAME</td>
                    <td th:text="${user.getLastName()}">LAST_NAME</td>
                    <td th:text="${user.roles.toString.replace('ROLE_','').replace('[', '').replace(']', '')}">ROLE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>
</html>